@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

input:focus {
  outline-width: 0px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 60px 40px;
}

.hero {
  font-size: 60px;
  color: #FFCD06;
  /* float: left; */
}

#search {
  width: 200px;
  height: 40px;
  float: right;
}

#searchbar {
  padding-left: 12px;
  padding-right: 12px;
  width: 160px;
  height: 36px;
  font-size: 20px;
  border-radius: 24px;
}

#searchbar::placeholder {
  font-style: italic;
}

.invalid-stock::before {
  content: '!';
  display: inline-block;
  margin-right: 20px;
  background-color: pink;
  width: 1px;
}

#stockInfo {
  clear: both;
  display: block;
  height: 200px;
  padding: 60px 60px;
}

.green-stockInfo {
  background-color: #F3FFFC;
}

.red-stockInfo {
  background-color: #FFF8F8;
}

.watchlist {
  padding: 40px 60px;
}

.watchlist .prompt {
  font-size: 32px;
  font-weight: 500;
}

.watchlist .stocks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

}

.stockCard {
  width: 264px;
  height: 76px;
  margin-top: 32px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  border-style: solid;
  border-radius: 22px;
  border-width: 2px;
  box-shadow: 0px 4px 6px grey;

  cursor: pointer;

  font-size: 20px;
}

.green-stockCard {
  border-color: #00C389;
  color: #00C389;
}
.green-stockCard:hover {
  background-color: #F3FFFC;
}

.red-stockCard {
  border-color: #FF4A4A;
  color: #FF4A4A;
}
.red-stockCard:hover {
  background-color: #FFF8F8;
}

.stockCard-name {
  margin-top: 12px;
  margin-left: 20px;
  flex-basis: 100%;
  color: black;
}
.stockCard-symbol {
  text-align: left;
  margin-left: 20px;
  flex-grow: 1;
  margin-bottom: 12px;
}
.stockCard-change {
  text-align: right;
  margin-right: 20px;
  flex-grow: 1;
  margin-bottom: 12px;
}